<a [routerLink]="['../movies']"> Movies </a>

<div>
    <button (click)="addTable()"> Add </button>
</div>
<br>
<div *ngFor="let table of tables">
    <button type="submit" (click)="getColumn(table.ID)"> {{table.ID}}: {{table.Name}} </button>
</div>

<!--<div class="searchTable">
    <label for="id"> Input ID </label>
    <input id="id" type="number" [(ngModel)]="searchID">
    <button (click)="searchTable(searchID)"> Search </button>
</div>-->

<div *ngIf="sTable">
    <input [(ngModel)]="sTable.Name"><br>
    <input [(ngModel)]="sTable.Description"><br>

    <button type="submit" (click)="save()"> Save </button>
    <button type="submit" (click)="delete(sTable, sTable.$id)"> Delete</button>
</div>

<div *ngIf="sColumns">
    <!--<div *ngFor = "let col of sColumns">
        {{col.Name}}
    </div>-->
    {{temp}}
    <input id="str" [(ngModel)]="searchString">
    <button (click)="getColumnByString(searchString)"> Search </button>
    <div *ngIf="ssColumns">
        <div *ngFor="let col of ssColumns">
            {{col.Name}}
        </div>
    </div>
</div>